<div class="row">
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header># Routines</nb-card-header>
            <nb-card-body align="center">
                <h3>{{routines}}</h3>
            </nb-card-body>
            <nb-card-footer><i style="font-size:70%;">*will have user, trainer added and admin owned</i></nb-card-footer>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header># Workouts</nb-card-header>
            <nb-card-body align="center">
                <h3>{{workouts}}</h3>
            </nb-card-body>
            <nb-card-footer><i style="font-size:70%;">*will have user, trainer added and admin owned</i></nb-card-footer>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>Total membership</nb-card-header>
            <nb-card-body>will be per day / month / year</nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>Current Active Users</nb-card-header>
            <nb-card-body>will be per day / month / year</nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>Workouts Recorded</nb-card-header>
            <nb-card-body>will be per day / month / year</nb-card-body>
        </nb-card>
    </div>
</div>


